.On-Loan,
.Purchased,
.Claimed {
  color: #ce0b0b;
}

.Borrow,
.Claim,
.Make-Offer{
  color: #067c06;
}

.listing{
  border:1px solid slategray;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.item-info{
padding-left: 15px;
padding-top: 15px;
width: 80%;
}
.actions{
display: flex;
flex-direction: column;
width: 20%;
}

.js-status-tag{
  width: 130px;
  height: 40px;
  color: grey;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid grey;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.action-btn,
.edit-btn,
.delete-btn{
  width: 130px;
  height: 40px;
}

.create-btn{
  width: 130px;
  height: 40px;
  display: block;
}

.js-view-form{
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  border: 2px solid black;
  margin-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.submit-edit-btn, 
.cancel-btn{
  margin-top: 15px;
}

.js-title, 
.js-image, 
.js-type,  
.js-description,
.js-status{
  margin-top:5px;
  margin-bottom:5px;
}